<section id="nav_usuario">
  <!-- Header de usuario -->
  <app-navbarusuariologueado></app-navbarusuariologueado>
  <div class="container-fluid d-flex flex-row">
    <a [routerLink]="['/especialidades']">
      <img
        class="ms-4 caret"
        src="../../../assets/img/caret_back.png"
        alt="icono_regresar"
      />
    </a>
    <h3 class="ms-5 pb-1">Agendá Tu Turno</h3>
  </div>
  @if (especialidad){
  <div class="container fraseBienvenida">
      <p>{{especialidad.nombre}}</p>
    </div>
    }
</section>

<div class="main">
  <div class="container card-container">
    @if(especialidad){ @for(med of medicosFiltrados; track med.idUsuario){
    <div class="card mb-3"  (click)="guardarIdMedico(med.idUsuario)">
      <div class="row g-0">
        <div class="col-2 d-flex justify-content-end align-items-center">
          <img
            src="../../../assets/img/logo.png"
            class="img-fluid rounded-start doctor"
            alt="imagen_doctor"
          />
        </div>
        <div class="col-10">
          <div
            class="card-body p-2 m-0 d-flex flex-column justify-content-center align-items-center"
          >
            <!-- Nombre completo y especialidad -->
            <h5 class="d-block text-nowrap">
              Dr. {{ med.nombre }}&ensp;{{ med.apellido }}
            </h5>
            <h6 class="card-title">{{ especialidad.nombre }}</h6>
            <!-- fecha, hora y consulta -->
            <small class="pill">
              {{'Rango horario'}}
            </small>
          </div>
        </div>
        <div class="badge">
          <!-- Eliminar turno -->
          <span class="badge rounded-pill text-bg-light">x</span>
        </div>
      </div>
    </div>
    } }
  </div>
</div>

<!-- Footer generico -->
<section id="nav-footer">
  <nav class="navbar d-flex flex-row justify-content-around py-3 fixed-bottom">
    <ul class="d-flex flex-row justify-content-around align-items-center">
      <li>
        <a [routerLink]="['/home_usuario']" class="border">
          <img
            src="../../../assets/img/home.svg"
            alt=""
            class="border m-0 p-0"
          />
        </a>
      </li>
      <li>
        <a [routerLink]="['/mis_turnos']" class="border">
          <img
            src="../../../assets/img/calendar.svg"
            alt=""
            class="border m-0 p-0"
          />
        </a>
      </li>
      <li>
        <a [routerLink]="['/especialidades']" class="border">
          <img
            src="../../../assets/img/specialties.svg"
            alt=""
            class="border m-0 p-0"
          />
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" class="border">
          <img
            src="../../../assets/img/logout.svg"
            alt="icono_salir"
            title="Salir"
          />
        </a>
      </li>
    </ul>
  </nav>
</section>
