<section id="nav_usuario">
  <!-- Header de usuario -->
  <app-navbarusuariologueado></app-navbarusuariologueado>
</section>
<div class="container-fluid d-flex flex-row">
  <a [routerLink]="['/especialidades']">
    <img
      class="ms-4 caret"
      src="../../../assets/img/caret_back.png"
      alt="icono_regresar"
    />
  </a>
  <h3 class="ms-5 pb-1">Agendá Tu Turno</h3>
</div>
<div class="container fraseBienvenida">
  <p>{{ especialidad.nombre }}</p>
</div>

<div class="main">
  <div class="container card-container">
    @switch (medicosFiltrados.length === 0) {@case (true) {
    <div class="card mb-3 card-vacia">
      <div
        class="card-body py-4 m-0 d-flex flex-column justify-content-center align-items-center"
      >
        <span>No hay medicos disponibles para esta categoria</span>
        <small>Disculpe las molestias.</small>
      </div>
    </div>
    }@default{ @for(med of medicosFiltrados; track med.idMedico){
    <div class="card mb-3" (click)="guardarIdMedico(med.idMedico)">
      <div class="row g-0">
        <div class="col-2 d-flex justify-content-end align-items-center">
          <img
            src="../../../assets/img/logo.png"
            class="img-fluid rounded-start doctor"
            alt="imagen_doctor"
          />
        </div>
        <div class="col-10">
          <div
            class="card-body p-2 m-0 d-flex flex-column justify-content-center align-items-center"
          >
            <!-- Nombre completo y especialidad -->
            <h5 class="d-block text-nowrap">
              Dr. {{ med.idUsuarioNavigation.nombre }}&ensp;{{
                med.idUsuarioNavigation.apellido
              }}
            </h5>
            <h6 class="card-title">{{ especialidad?.nombre }}</h6>
            <!-- fecha, hora y consulta -->
            @if(horario){
            <small class="pill">
              {{ med.idHorario | horarioFilter }}
            </small>
            }@else {
            <small class="pill">No disponible</small>
            }
          </div>
        </div>       
      </div>
    </div>
    } }}
  </div>
</div>

<!-- Footer generico -->
<section id="nav-footer">
  <app-footer class="fixed-bottom"></app-footer>
</section>