.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0px;
}

.container-fluid {
  background-color: #d2ebfa;
}

.caret {
  width: 1.2rem;
}

h3 {
  font-weight: 700;
}

.card {
  background-color: #d5d1d1;
  border-radius: 20px;
  cursor: pointer;
}


.pill {
  border: 1px solid #000;
  border-radius: 26px;
  padding: 0px 1rem;
}

.badge {
  position: absolute;
  top: 2px;
  right: 3px;
}

.container-fluid {
  background-color: #d2ebfa;
}

.caret {
  width: 1.2rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type: none;
}

img {
  width: 2rem;
}

.navbar {
  background-color: #d2ebfa;
  margin-top: 2rem;
}

.card-container {
  padding-bottom: 5rem;
}
