ul, li{
    margin: 0;
    padding: 0;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li{
    list-style-type: none;
}

img{
    width: 2rem;
}

.navbar{
    background-color: #d2ebfa;
}