.navbar-registro-usuario {
  background-color: #d2ebfa;
}

.navbar-registro-medico {
  background-color: #d2ebfa;
}

.navbar-login-usuario {
  background-color: #d2ebfa;
}

.navbar-login-medico {
  background-color: #d2ebfa;
}

h2{
    font-weight: bold;
}

.fraseBienvenida>h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-weight: bold;
}