<!-- El header se mostrará según la ruta en la que está -->

@if(section){
<section>
  <nav
    class="navbar d-flex justify-content-start align-items-center py-4 pt-5"
    [ngClass]="{
      'navbar-registro-usuario': section === 'registro_usuarios',
      'navbar-registro-medico': section === 'registro_medicos',
      'navbar-login-usuario': section === 'login'
    }"
  >
    <a [routerLink]="['/']">
      <img
        class="ms-4 caret"
        src="../../../assets/img/caret_back.png"
        alt="icono_regresar"
        title="Volver a la página principal"
      />
    </a>
    @if(section === 'registro_usuarios' || section === 'registro_medicos'){
    <h2 class="mx-auto">Nueva Cuenta</h2>    
    }@else if(section === 'login'){
    <h2 class="mx-auto">Inicio de Sesión</h2>
    }
   
  </nav>  
</section>
}
