<section id="nav_medico">
  <!-- Header de usuario -->
  <app-navbarusuariologueado></app-navbarusuariologueado>
</section>

<!-- Main -->
<div class="main">
  <section id="fraseBienvenida">
    @if (section === 'buscar') {
    <div class="container fraseBienvenida">
      <!-- TODO: modificar por el objeto usuario id -->
      <h2>Buscar Usuarios</h2>
    </div>
    }
  </section>

  <!-- Busqueda / Filtro -->
  <div class="card bg-transparent border-0 mx-auto filtro-input">
    <div class="card-body m-0 p-0">
      <div class="wrapper mb-2">
        <label for="query">Filtrar cualquier dato de la tabla</label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="query"
          placeholder="Buscar..."
        />
      </div>
    </div>
  </div>

  <hr class="bg-transparent" />

  <table class="table table-sm mx-auto">
    <thead>
      <tr class="col">
        <th style="width: 6rem;">ID</th>
        <th  style="width: 15rem;">Nombre y Apellido</th>
        <th style="width: 9rem;">DNI</th>
        <th style="width: 10rem;">Email</th>
      </tr>
    </thead>
    <tbody>
      @for(user of usuarios | filter: query; track user.idUsuario){
      <tr class="align-self-center" (click)="verTurnoDetalle(user.idUsuario)">
        <td>{{ user.idUsuario }}</td>
        <td>{{ user.nombre }}&ensp;{{user.apellido}}</td>
        <td>{{ user.dni }}</td>
        <td>{{ user.email }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Footer generico -->
<section id="nav-footer">
  <app-footer class="fixed-bottom"></app-footer>
</section>
