<!-- Ajustar el id para que la funcion lo pueda llamar -->
<div
  class="modal fade"
  id="modalcategorias"
  tabindex="-1"
  aria-labelledby="modalcategorias"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalcategorias">Agregar Categoria</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="agregarCategoria(form)">
          <div class="card bg-transparent border-0">
            <div class="card-body m-0 p-0">
              <div class="wrapper mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="categoria"
                  placeholder="Categoria"
                  maxlength="50"
                  minlength="5"
                  required
                  [(ngModel)]="categoria.nombre"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <input type="submit" value="Guardar" class="btn btn-primary btn-sm" data-bs-dismiss="modal" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>