<!-- Modal Agregar Horario-->
<app-modal-horario
  (horarioAgregado)="horarioAgregadoHandler($event)"
></app-modal-horario>
<!-- Modal Agregar Categoria -->
<app-modal-categoria
  (categoriaAgregada)="categoriaAgregadaHandler($event)"
></app-modal-categoria>

<section id="nav_medico">
  <!-- Header de usuario -->
  <app-navbarusuariologueado></app-navbarusuariologueado>
</section>

<!-- Main -->
<div class="main">
  <section id="fraseBienvenida">
    <div class="container fraseBienvenida">
      <h2>Configurar Servicios</h2>
    </div>
  </section>

  <div
    class="container-fluid d-flex flex-column justify-content-center align-items-center mt-2 p-4"
  >
    <!-- ABM Horarios -->
    <div class="d-flex flex-row justify-content-around w-100 py-3">
      <h4>Horarios</h4>
      <span
        type="button"
        (click)="abrirModalHorario()"
        class="badge rounded-pill text-bg-success"
        title="Agregar +"
        >Agregar +</span
      >
    </div>
    <table class="table table-sm table-hover">
      <thead>
        <tr class="col">
          <th>ID Horario</th>
          <th>Rango</th>
          <th style="width: 9rem">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(hora of horarios; track hora.idHorario){
        <tr>
          <td>{{ hora.idHorario }}</td>
          @if(!hora.isEditable){
          <td>{{ hora.rango }}</td>
          }@else {
          <td>
            <input
              title="rango_horario"
              type="text"
              class="form-control"
              [(ngModel)]="hora.rango"
              name="rango"
              id="rango"
            />
          </td>
          }

          <td>
            <span
              class="icono-editar"
              (click)="editarHorario(hora.idHorario, hora)"
            >
              <img src="../../../assets/img/edit.svg" alt="icono-editar" />
            </span>
            <span
              class="icono-guardar"
              (click)="guardarHorario(hora.idHorario, hora)"
            >
              <img src="../../../assets/img/save.svg" alt="icono-guardar" />
            </span>
            <span class="icono-cancelar" (click)="cancelar(hora)">
              <img src="../../../assets/img/cancel.svg" alt="icono-cancelar" />
            </span>
           </td>
        </tr>
        }
      </tbody>
    </table>

    <hr />

    <!-- ABM Especialidades -->
    <div class="d-flex flex-row justify-content-around w-100 py-3">
      <h4>Especialidades</h4>
      <span
        type="button"
        (click)="abrirModalCategoria()"
        class="badge rounded-pill bg-success btn-sm"
        title="Agregar +"
        >Agregar +</span
      >
    </div>
    <table class="table table-hover table-sm">
      <thead>
        <tr class="col">
          <th>ID Categoria</th>
          <th>Nombre</th>
          <th>Logo</th>
          <th style="width: 9rem;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(esp of especialidades; track esp.idCategoria){
        <tr>
          <td>{{ esp.idCategoria }}</td>
          @if(!esp.isEditable){
          <td>{{ esp.nombre }}</td>
          }@else {
          <td>
            <input
              title="categoria_nombre"
              type="text"
              class="form-control"
              [(ngModel)]="esp.nombre"
              name="categoria"
              id="categoria"
            />
          </td>
          } @if(esp.imgSrc){
          <td>{{ esp.imgSrc }}</td>
          }@else {
          <td>Sin logo</td>
          }
          <td>
            <span
              class="icono-editar"
              (click)="editarCategoria(esp.idCategoria, esp)"
            >
              <img src="../../../assets/img/edit.svg" alt="icono-editar" />
            </span>
            <span
              class="icono-guardar"
              (click)="guardarCategoria(esp.idCategoria, esp)"
            >
              <img src="../../../assets/img/save.svg" alt="icono-guardar" />
            </span>
            <span class="icono-cancelar" (click)="cancelar(esp)">
              <img src="../../../assets/img/cancel.svg" alt="icono-cancelar" />
            </span>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <hr />

    <!-- ABM Citas -->
    <div class="d-flex flex-row justify-content-evenly w-100 py-3">     
      <h4>Citas</h4>   
    </div>
    <table class="table table-sm table-hover">
      <thead>
        <tr class="col">
          <th>ID Cita</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>ID Paciente</th>
          <th>ID Medico</th>
          <th>Motivo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(cita of citas; track cita.idCita){
        <tr>
          <td>{{ cita.idCita }}</td>
          <td>{{ cita.fecha | date : "dd/MM/yy" }}</td>
          <td>{{ cita.hora }}</td>
          <td>{{ cita.idPaciente }}</td>
          <td>{{ cita.idMedico }}</td>
          <td>{{ cita.motivoConsulta }}</td>
          <td>
            <span class="icono-editar">
              <img
                src="../../../assets/img/eye-password-show.svg"
                alt="icono-ver"
                (click)="verCitaDetalle(cita.idCita)"
              />
            </span>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<!-- Footer generico -->
<section id="nav-footer">
  <app-footer class="fixed-bottom"></app-footer>
</section>
