<!-- Ajustar el id para que la funcion lo pueda llamar -->
<div
  class="modal fade"
  id="modaleditarcita"
  tabindex="-1"
  aria-labelledby="modaleditarcita"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modaleditarcita">Editar Cita</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="editarCita(form)">
          <div class="card bg-transparent border-0">
            <div class="card-body m-0 p-0">
              <input type="hidden" name="idCita" [(ngModel)]="cita.idCita" />
              <div class="wrapper mb-2">
                <input
                  class="form-control"
                  type="date"
                  name="fecha"
                  placeholder="Fecha"
                  [(ngModel)]="cita.fecha"
                />
              </div>
              <div class="wrapper mb-2">
                <select
                  class="form-select"
                  aria-label="Seleccione un rango de horario"
                  name="rango"
                  [(ngModel)]="cita.hora"
                >
                  @for(hora of horarios; track hora.idHorario){
                  <option
                    class="option-menu"
                    [id]="hora.idHorario"
                    [value]="hora.rango"
                  >
                    {{ hora.rango }}
                  </option>
                  }@empty {
                  <option class="option-menu">
                    No hay horarios disponibles
                  </option>
                  }
                </select>
              </div>
              <div class="wrapper mb-2">
                <label for="idPaciente"> ID del paciente </label>
                <input
                  class="form-control"
                  type="number"
                  name="idPaciente"
                  id="idPaciente"
                  [(ngModel)]="cita.idPaciente"
                />
              </div>
              <div class="wrapper mb-2">
                <label for="idMedico"> ID del medico </label>
                <input
                  class="form-control"
                  type="number"
                  name="idMedico"
                  id="idMedico"
                  [(ngModel)]="cita.idMedico"
                />
              </div>
              <div class="wrapper mb-2">
                <textarea
                  class="form-control"
                  type="text"
                  name="motivoConsulta"
                  placeholder="Motivo Consulta"
                  [(ngModel)]="cita.motivoConsulta"
                >
                </textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <input
              type="submit"
              value="Editar"
              class="btn btn-primary btn-sm"
              data-bs-dismiss="modal"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
