
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0px;
}

.container-fluid {
  background-color: #d2ebfa;
}

.caret {
  width: 1.2rem;
}

h3 {
  font-weight: 700;
}

span.rango{
  font-size: 0.7em;
}

.btn-container{
  width: 80dvw;
}

.rounded-pill {
  margin-bottom: 2rem;
  width: 6rem;
}

#card-turnos {
  padding-bottom: 5rem;
  width: 100%;
}

.card {
  border-radius: 18px;
  cursor: pointer;
}

.card:hover {
  background-color: #3332;
}


.card-vacia {
  height: 6rem;
  font-weight: 700;
}

h5 {
  font-weight: 900;
}

small {
  font-weight: 700;
}