<section>
  <div class="container m-0 p-0">
    <img
      src="../../../assets/img/img_bienv.jpg"
      alt="pagina_bienvenida"      
    />

    <div
      class="container botones d-flex flex-column justify-content-center align-items-center position-absolute bottom-0 mb-4">
      <button class="btn btn-primary btn-lg rounded-pill mb-3 px-5" type="button" title="Registrame" routerLink="registro_usuarios">Registrarme</button>
      <button class="btn btn-outline-dark btn-lg rounded-pill px-5" type="button" title="Iniciar sesion" routerLink="login_usuarios">Iniciar Sesión</button>
    </div>
  </div>
</section>
