<section class="background">
  <div class="container boton-container m-0 p-0">
    <div class="container botones">
      <button
        class="btn bt-register bg-primary text-light btn-lg rounded-pill mb-3 px-5"
        type="button"
        title="Registrame"
        [routerLink]="['/registro_usuarios']"
      >
        Registrarme
      </button>
      <button
        class="btn btn-outline-dark btn-lg rounded-pill px-5"
        type="button"
        title="Iniciar sesion"
        [routerLink]="['/login']"
      >
        Iniciar Sesión
      </button>
    </div>
  </div>
</section>
