.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 2rem 0px;
  padding-bottom: 5rem;
}

.fraseBienvenida>h2 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
}

span.btn-sm {
  width: 6rem;
  font-size: 0.8em;
  margin-right: 1rem;
}

.btn-container {
  padding: 1rem 0px;
}

.card {
  border-radius: 18px;
}

.card p {
  font-size: 0.9em;
  padding: 0px 1rem;
}

.turno-card {
  width: 80dvw;
  margin-bottom: 5rem;
}

.wrapper {
  width: 100%;
  padding: 0.1rem 1rem;
}

input.form-control {
  padding: 4px;
  border-radius: 9px;
  font-size: 1em;
}

input::placeholder {
color: #727272;
}

.card-touch {
  z-index: 1;
  width: 18rem;
}

.card-vacia {
  height: 6rem;
  font-weight: 700;
}

h5 {
  font-weight: 900;
}

small {
  font-weight: 700;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 26px;
  padding: 0.5rem;
}

img.down-arrow {
  border: none;
  background-color: transparent;
  width: 2rem;
  height: auto;
}

.filtro-input {
  width: 23rem;
}

.wrapper {
  width: 100%;
  padding: 0.1rem 1rem;
  text-align: center;
}

label {
  margin-bottom: 0.7rem;
}

span.icono-videocall {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 50px;
}

span.active {
  border-color: #198754;
  background-color: #198754;
  color: white !important;
  font-weight: bold;
}

/* .collapse-container{
  overflow: hidden;
} */