<section id="nav_medico">
  <!-- Header de usuario -->
  <app-navbarusuariologueado></app-navbarusuariologueado>
</section>

<!-- Main -->
<div class="main">
  <section id="fraseBienvenida">
    <div class="container fraseBienvenida">
      @if(usuario){
      <h2>Hola, {{ usuario.nombre }}!</h2>
      }
    </div>
  </section>

  <!-- Botones estado de turnos 'proximos', 'cancelados' y 'completados' -->
  <div
    class="container mb-2 d-flex flex-row justify-content-center align-items-center btn-container"
  >
    <span
      class="btn btn-outline-dark rounded-pill btn-sm"
      [ngClass]="{ active: botonActivo === 'cancelados' }"
      (click)="setActivo('cancelados')"
      >Cancelados</span
    >
    <span
      class="btn btn-outline-dark rounded-pill btn-sm"
      [ngClass]="{ active: botonActivo === 'proximos' }"
      (click)="setActivo('proximos')"
      >Próximos</span
    >
    <span
      class="btn btn-outline-dark rounded-pill btn-sm"
      [ngClass]="{ active: botonActivo === 'completados' }"
      (click)="setActivo('completados')"
      >Completados</span
    >
  </div>

  <!-- Busqueda / Filtro -->
  <div class="card bg-transparent border-0 mx-auto filtro-input">
    <div class="card-body m-0 p-0">
      <div class="wrapper mb-2">
        <label for="query">Filtrar por fecha u horario</label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="query"
          placeholder="Buscar..."
        />
      </div>
    </div>
  </div>

  <hr />
  <!-- Lista de turnos con estado próximo -->
  <section id="card-turnos">
    <div class="container turno-card">
      @switch (citas.length === 0){ @case (true) {
      <div class="card mb-3 card-vacia">
        <div
          class="card-body p-2 m-0 d-flex flex-column justify-content-center align-items-center"
        >
          <span>No tienes turnos</span>
        </div>
      </div>
      } @default{ @for(cita of citas | filter: query; track cita.idCita){
      <div class="card mb-3 mx-auto">
        <div class="row g-0">
          <span
            class="icono-videocall"
            (click)="iniciarVideoConsulta(cita.idCita)"
          >
            <img
              src="../../../assets/img/videocall.svg"
              alt="icono-videocall"
            />
          </span>
          <span
            class="icono-idCita"
          >
            <small><span>#</span>&ensp;{{cita.idCita}}</small>
          </span>
          <div class="col-12">
            <div
              class="card-body p-2 m-0 d-flex flex-column justify-content-start align-items-center"
            >
              <small>
                {{ cita.fecha | date : "dd/MM/yyyy" }} - {{ cita.hora }}
              </small>
              @if(!cita.paciente?.nombre || !cita.paciente?.apellido){ 
                <p>No se pudo obtener el nombre del paciente.</p>
              } @else{
              <h6 class="mt-1">
                {{ cita.paciente?.nombre }} {{ cita.paciente?.apellido }}
              </h6>
              }
            </div>
            <div
              class="card d-flex flex-column justify-content-center border-0 m-0 p-0"
            >
              <p class="text-center px-4 text-break">
                {{ cita.motivoConsulta }}
              </p>
            </div>
          </div>
        </div>
      </div>
      }} }
    </div>
  </section>
</div>

<!-- Footer generico -->
<section id="nav-footer">
  <app-footer class="fixed-bottom"></app-footer>
</section>
