form {
  padding: 2rem 0px;
}

.card {
  width: 23rem;
}

.wrapper {
  width: 100%;
  padding: 0.5rem 1rem;
}

input.form-control {
  padding: 9px;
}

input::placeholder {
  color: #727272;
}

a {
  color: #101113;
}

.option-menu {
  font-size: 1em;
}

input.input {
  padding: 9px;
  margin-right: -35px;
}

.span {
  z-index: 999;
}

img[alt="icono-ocultar-password"],
[alt="icono-mostrar-password"] {
  cursor: pointer;
  width: 24px;
  padding-top: 0.5rem;
}